.App {
  text-align: center;
}

.prompt-input {
  width: 450px;
  height: 100px;
  min-width: 400px;
  min-height: 30px;
  max-width: 450px;
  max-height: 250px;
}

.subheading {
  display: flex;
  justify-content: flex-start;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: #8cc0d7;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
}

.form-container {
  width: 35vw;
  height: 600px;
  display: flex;
  justify-content: center;
  background: rgba(232, 234, 237, 0.68);
  border-radius: 8px;
  padding: 30px;
  overflow: auto;
  max-height: 100vh;
}

.response-container {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.68);
  border-radius: 8px;
  padding: 30px;
  width: 400px;
}

.whole-container {
  display: flex;
  justify-content: center;
}

.prompt-value {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}